# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Auth
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# API
NEXT_PUBLIC_API_BASE_URL=http://localhost:2025

# Admin JWT (must match backend's ADMIN_JWT_SECRET)
ADMIN_JWT_SECRET=
